:root {
    --blanco: white;
    --claro: #e9ecef;
    --gris__claro: #8d99aedd;
    --negro: black;
    --negro__transparente: rgba(0, 0, 0, 0.521);
    --gris__oscuro: #343a40;
    --naranja-medio: #ee964b;
    --naranja-fuerte: #ca6702;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    box-sizing: border-box;
    list-style: none;
}
button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
html {
    font-size: 20px;
    /* scroll-behavior: smooth; */
    background: url("./img/fondo_claro.webp");
    color: var(--texto);
    background-attachment: fixed;
}
body {
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seccion__izquierda {
    width: 68%;
}
.seccion__derecha {
    width: 29%;
}

/*banner*/

.banner {
    width: 100%;
}
.banner__conjunto {
    width: 100%;
    display: grid;
    grid-template-areas: "peru1 unmsm fisi";
    position: relative;
}
.banner__peru {
    grid-area: peru1;
}
.banner__unmsm {
    grid-area: unmsm;
}
.banner__fisi {
    grid-area: fisi;
}
.banner__fisi > img,
.banner__peru > img,
.banner__unmsm > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.banner__texto {
    position: absolute;
    top: calc(50% - 2rem);
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--negro__transparente);
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--blanco);
    font-weight: bold;
}

/*tabla*/

.contenedor__tabla {
    margin-top: 2rem;
    overflow-y: auto;
    box-shadow: 6px 4px 8px var(--gris__claro);
}
.tabla {
    /* margin-top: 2rem; */
    background-color: var(--claro);
    border-collapse: separate;
    border-spacing: 0px;
    color: var(--gris__oscuro);
    width: 100%;
}
th,
td {
    padding: 0 1rem;
    border-left: var(--gris__claro) 1px solid;
    border-right: var(--gris__claro) 1px solid;
}
th {
    text-align: center;
    background-color: var(--naranja-fuerte);
}
.tabla__semana {
    max-width: 120px;
}
.tabla__tema {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 450px;
}
.tabla__tema > h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.tabla__tema > p {
    font-size: 0.7rem;
}
.tabla__clase {
    font-size: 0.8rem;
    max-width: 120px;
}
.tabla__trabajo {
    max-width: 300px;
    min-width: 150px;
}
.trabajo__elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabla__logo {
    width: 50px;
}
.tabla__trabajo .tabla__logo {
    width: 30px;
}
.tabla__trabajo span {
    font-size: 0.8rem;
}
.clase__elemento {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.clase__elemento:hover {
    background-color: #ca670211;
    border-radius: 0.8rem;
}

.cabezal {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--blanco);
}

/*informacion*/

.informacion {
    margin-top: 2rem;
    padding: 0 1rem 2rem;
    color: var(--gris__oscuro);
    background-color: var(--claro);
    box-shadow: 6px 4px 8px var(--gris__claro);
}
.tabla__informacion {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}
.tabla__informacion td {
    border: none;
}
.informacion__titulo {
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.informacion__subtitulo {
    font-size: 1rem;
}
.informacion__texto {
    font-size: 0.8rem;
}
.informacion__lista > li {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--gris__claro);
    padding-left: 1rem;
    margin-top: 0.2rem;
}
.informacion__lista > li::before {
    color: var(--gris__oscuro);
    font-weight: bold;
    font-size: 1rem;
    padding-right: 0.5rem;
    content: "»";
}

/*articulos integrantes*/
.article {
    background-color: var(--claro);
    padding: 3rem 1rem 1rem;
    margin-top: 2rem;
    position: relative;
    box-shadow: 6px 4px 8px var(--gris__claro);
}
.article2 {
    background-color: var(--claro);
    padding: 3rem 1rem 1rem;
    margin-top: 2rem;
    position: relative;
}
.superior {
    height: 2rem;
    width: 100%;
    background-color: var(--naranja-fuerte);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--blanco);
    padding-top: 0.5rem;
}
.superior2 {
    height: 2rem;
    background-color: var(--naranja-fuerte);
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: 0;
    color: var(--blanco);
    padding-top: 0.5rem;
    padding-left: 2rem;
}
.article__titulo {
    text-transform: uppercase;
    font-size: 1rem;
    padding-bottom: 0.8rem;
}
.article__subtitulo {
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    text-transform: capitalize;
    font-size: 1rem;
}

/* ----------------------------- */

.article__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__info {
    display: flex;
    padding: 0 0.3rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.article__info img {
    max-width: 80px;
    object-fit: contain;
    margin-right: 1rem;
}

.article__parrafo {
    font-size: 16px;
}

.article__download {
    display: inline-block;
    width: max-content;
    border-radius: 0.4rem;
    background-color: #ca6702;
    color: #fff;
    padding: 0.5rem 0.8rem;
    border: 2px solid #ca6702;
    margin: auto;
}

.article__download:hover {
    color: #ca6702;
    background-color: #fff;
}

/* ----------------------------- */

.article__integrantes {
    margin-left: 2rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    padding-top: 0.3rem;
}
.article__integrantes::before {
    color: var(--gris__oscuro);
    font-weight: bold;
    font-size: 1rem;
    content: "»";
    position: absolute;
    transform: translate(-1rem);
}
.article__imagen {
    width: 100%;
    padding: 0 1rem;
}

.enlace__grupos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article__grupos {
    display: grid;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.article__grupos > a {
    font-weight: bold;

    width: max-content;
    padding: 0.5rem 1rem;

    border-radius: 10px;
    border: var(--naranja-medio) 2px solid;
    background: var(--naranja-medio);
    color: var(--blanco);

    transition-property: background-color, color;
    transition: 300ms ease;
}

.article__grupos:hover > a {
    background-color: var(--blanco);
    color: var(--naranja-medio);
}

.desplegar__informacion {
    color: var(--blanco);
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: capitalize;
    display: none;
    margin: 0 auto;
}
.desplegar__informacion:hover {
    color: var(--naranja-medio);
}

.footer {
    padding: 1.5rem 0.3rem;
    margin-top: 2rem;
    width: 100%;
    background-color: var(--gris__oscuro);
    box-shadow: 6px 4px 8px var(--gris__claro);
}
.footer > span {
    display: block;
    text-align: center;
    font-size: 0.8rem;

    color: var(--blanco);
    margin-bottom: 1rem;
}

.linkedin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.linkedin a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--blanco);
    font-size: 0.8rem;
    margin: 1rem 2rem;
    padding: 0.5rem;
}

.linkedin a:hover {
    background-color: #00000011;
    border-radius: 11px;
}

.linkedin i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1050px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 950px) {
    .article__imagen {
        padding: 0;
    }
    .seccion__izquierda {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .seccion__derecha {
        width: 100%;
    }
    .desplegar__informacion {
        display: block;
    }
    .sumilla,
    .competencia__general {
        display: none;
    }
}

@media (max-width: 700px) {
    .informacion__general {
        padding: 3rem 0rem 1rem;
    }
    body {
        margin: 0;
    }
    .banner__conjunto {
        grid-template-areas:
            "peru1 fisi"
            "unmsm unmsm";
        gap: 10px;
    }
    .banner__fisi > img,
    .banner__peru > img,
    .banner__unmsm > img {
        height: 200px;
    }
}
